form {
    display: flex;
    flex-direction: column;
    padding: 13px;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
    
 input {
    padding-top: 15px;
    border-bottom: 1px solid #0d24f1;
    width: 169px;

  }

  button {
    width: 95px;
  }
    
  textarea {
    resize: none;
    height: 5rem;
    word-wrap: break-word;
    width: 169px;
  }


